@import url("https://fonts.googleapis.com/css?family=Montserrat:400");

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html, body, h1, h4 {
  padding: 0!important;
  margin: 0!important;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #454545;
  background-size: cover;
  background-position: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper {
  text-align: center;
  margin-top: 175px;
  margin-bottom: 50px;
  font-size: 2em;
  color: white;
}

.contentbutton {
  border: none;
  color: white;
  padding: 15 30;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.contentbutton1 {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.contentbutton1:hover {
  background-color: white;
  color: black;
}

.bigbutton {
  border: none;
  color: white;
  padding: 30px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.bigbutton1 {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.bigbutton1:hover {
  background-color: white;
  color: black;
}

#homepage-cards {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card i {
  font-size: 100px;
  margin-top: 5px;
}

.card img {
  aspect-ratio: 1 / 1;
  height: 100px;
  margin-top: 5px;
  border-radius: 5px;
}

.card {
  background-color: #5c5c5c;
  border-radius: 3vh;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  width: 10%;
  color: white;
}

.card:hover {
  box-shadow: 2px 2px 13px #575b5c;
  transform: scale(1.05);
}

.card>* {
  flex: 1 1 160px;
}



form {
    display: flex;
    justify-content: center;
}

form input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFFFFF;
}
