@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap";

* {
  padding: 0;
  margin: 0;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  padding: 10px;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navbar i{
  color: white;
  font-size: 30;
  align-items: center;
  margin: 20px;
}

.navbar h1{
  color: white;
  font-size: 35px;
  margin-right: 180px;
  transform: translateX(-80px);
}

.rightbar {
  justify-content: space-between;
  float: right;
}

.centerbar h1 {
    font-size: 30px;
    color: white;
}

.button {
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background: transparent;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.3)
}

.ibutton {
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background: transparent; 
  border: 2px solid white;
  border-radius: 8px;
}

.ibutton:hover {
  background-color: #ffffff;
  color: black;
}

.ibutton:hover i{
  color: black;
}
